.container{
    display:  flex;
    flex-direction: column;
    align-items: center;
}
.employees_list{
    list-style:decimal;
}
.list_items{
    padding:.07rem;
}
button{
    border: none;
    height: 3vh;
    width: 6vw;
    color: rgb(247, 247, 247);
    background-color: rgb(112, 112, 112);
    border-radius: .2rem;
}
button:hover{
    background-color: rgb(226, 226, 226);
    color:  rgb(112, 112, 112);
}